.battleground {
  display: flex;
  justify-content: space-around;
  .fighter {
    border-radius: 2px;
    height: 500px;
    margin: 1rem;
    position: relative;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid;
    box-shadow: 0 12px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    .name {
      font-size: 32px;
      margin-top: 5px;
      text-align: center;
    }
    .stats {
      font-size: 30px;
      display: flex;
      justify-content: space-around;
      margin-bottom: 3px;
      .heart-icon{
        width: 40px;
        height: 40px;
      }
      .sword-icon {
        width: 30px;
        height: 30px;
        margin-bottom: 11px; // a change le plus tot  possible
      }
    }
  }
}

.result {
  text-align: center;
  margin-top: 40px;
  opacity: 0;
  transition-duration: 0.3s;
  input {
    width: 50%;
    height: 60px;
    &:hover {
    background-color: #E72C23;
    }
  }
}
