.index-content {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  .fighter-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    width: 80%;
    .fighter-card {
      color: #0A0709;
      border-radius: 2px;
      margin-bottom: 2px;
      height: 300px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: #CCCCCC;
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      transition: all 0.5s cubic-bezier(.25,.8,.25,1);
      &:hover {
        box-shadow: 0 14px 28px rgba(0,0,0,0.70), 0 10px 10px rgba(0,0,0,0.70);
      }
      .name {
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        height: 25%;
        a {
          color: #0A0709;
        }
      }

      .stats {
        font-weight: bolder;
        font-size: 20px;
        .heart-icon {
          width: 30px;
          height: 30px;
        }
        .sword-icon {
          margin-left: 5px;
          width: 30px;
          height: 30px;
        }
        .bonus {
          color: #06BA00;
        }


      .select-fighter {
        cursor: pointer;
        width: 100%;
        height: 25%;
      }
    }

      .active {
        background-color: #6D0001;
      }
    }
  }
}

.index-links {
  display: flex;
  font-weight: bolder;
  flex-direction: column;
  position: fixed;
  font-size: 20px;
  right: 100px;
  width: 20%;
  .link {
    text-decoration: none;
    color: inherit;
    border: 1px solid;
    width: 100%;
    height: 50px;
    text-align: center;
    padding-top: 13px;
    margin-bottom: 20px;
    transition-duration: 0.5s;
    padding-bottom: 40px;
    &:hover {
      color: #0A0709;
      background-color: #CCCCCC;
    }
  }
  .battle-link {
    text-decoration: none;
    font-weight: bolder;
    width: 100%;
    height: 100px;
    transition-duration: 0.5s;
    &:hover {
      color: #F9F9F9;
      background-color: #6D0001;
    }
  }
}

.title {
  margin-top: 15px;
  padding-right: 172px;
  text-align: center;
  font-weight: bolder;
}
