.index-content {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  .fighter-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    width: 80%;
    .fighter-card {
      border-radius: 2px;
      margin-bottom: 2px;
      height: 300px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: #e06728;
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      transition: all 0.3s cubic-bezier(.25,.8,.25,1);
      &:hover {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
      }
      .name {
        font-size: 31px;
        text-align: center;
        height: 25%;
        a {
          color: black;
        }
      }

      .stats {
        .heart-icon {
          width: 30px;
          height: 30px;
        }
        .sword-icon {
          margin-left: 5px;
          width: 30px;
          height: 30px;
        }


      .select-fighter {
        cursor: pointer;
        width: 100%;
        height: 25%;
      }
    }

      .active {
        background-color: #E72C23;
      }
    }
  }
}

.index-links {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 200px;
  width: 20%;
  .link {
    text-decoration: none;
    color: inherit;
    border: 1px solid;
    width: 100%;
    height: 50px;
    text-align: center;
    padding-top: 13px;
    margin-bottom: 20px;
    transition-duration: 0.5s;
    &:hover {
      background-color: #E72C23;
    }
  }
  .battle-link {
    font-size: 20px;
    font-weight: bolder;
    text-decoration: none;
    width: 100%;
    height: 100px;
    transition-duration: 0.5s;
    &:hover {
      background-color: #E72C23;
    }
  }
}

.title {
  text-align: center;
  font-weight: bolder;
}
