.show-content {
  color: #0E0000;
  display: flex;
  font-size: 31px;
  height: 700px;
  .show-fighter {
    font-weight: bolder;
    background-color: #CCCCCC;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 20px;
    width: 50%;
    height: 100%;
    border: 1px solid;
    a {
      color: #0E0000;
      text-decoration: none;
    }
    .show-title {
      display: flex;
      justify-content: space-around;
    }
    .characteristics {
      display: flex;
      justify-content: space-around;
      .base {
        .heart-icon {
          width: 30px;
          height: 30px;
        }
        .sword-icon {
          width: 30px;
          height: 30px;
        }
      }
      .equipment {
      }
    }
  }

  .shop {
    background-color: #CCCCCC;
    width: 50%;
    border: 1px solid;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 22px;
    .presentation {
      font-size: 28px;
    }
    .available {
      ul {
        list-style: none;
        font-size: 20px;
        li {
          display: inline-block;
          margin: 10px;
        }
      }
    }
    .simple_form {
      width: 79%;
      margin-left: 60px;
    }
  }
}
.show-links {
  text-decoration: none;
  text-align: center;
  transition-duration: 0.5s;
  margin-top: 30px;
  font-size: 40px;
  border: 1px solid;
  border-radius: 2px;
  margin-left: 334px;
  width: 40%;
  &:hover {
    background-color: #0E0000;
    color: #CCCCCC;
  }
  a {
    //color: #0E0000;
    font-weight: bolder;
    text-decoration: none;
  }
}

.on-level {
  color: green;
}

.under-level {
  color: #CC0003;
}
