<div class="container">
  <ul>
    <% @fighters.each do |fighter| %>
      <li>
        <%= link_to fighter.name, fighter_path(fighter)  %>
      </li>
    <% end %>
  </ul>


  <%= link_to "Create your own fighter", new_fighter_path %>
</div>
