<DIV class="container">
  <h1>WELECOME TO WEBBRAWL</h1>

  <ul>
    <li>Tu peux faire s'affronter deux combattants</li>
    <li>Les combattants commencent au niveau 0.0</li>
    <li>Ils commencent sans arme sans défense</li>
    <li>En gagnant des combats, ils débloquent des armes</li>
    <li>Certains objets permettent de frapper plus forts</li>
    <li>D'autres de bloquer les coups</li>
  </ul>

  <%= link_to "See fighters", fighters_path  %>
</DIV>
