<div class="container">
  <div class="all-battles">
    <div class="won-lost">
      <p>WON</p>
      <p>...</p>
      <p>LOST</p>
    </div>
    <% @battles.each do |battle| %>
      <div class="index-battle">
        <%= render "index", fighter: battle.winner %>
        <div class="index-vs">
          <div class="vs-sign">
            <p>VS</p>
          </div>
          <div class="vs-infos">
            <p><%= battle.remaining_health %></p>
            <p><%= I18n.l(battle.created_at, format: :short) %> </p>
          </div>
        </div>
        <%= render "index", fighter: battle.loser %>
      </div>
    <% end %>
  </div>
</div>

