<div class="container">
  <div class="result-card">
    <div class="title">
     <h1><%= @battle.winner.name %> won the fight !</h2>
    </div>
    <div class="fight-details">
      <p>He defeated <%= @battle.loser.name %></p>
    </div>
  </div>

  <div class="links">
    <%= link_to "Go back to fighters", fighters_path  %>
  </div>
</div>
