<div class="container">
  <div class="battleground">
    <div class="fighter-one">
      <%= @battle.your_fighter.name %>
    </div>
    <div class="fighter-two">
      <%= @battle.enemy_fighter.name %>
    </div>
  </div>
</div>
