<div class="container">
  <div class="battleground">
    <div class="fighter" id="your-fighter">
      <%= render "show", fighter: @battle.your_fighter %>
    </div>
    <div class="fighter" id="enemy-fighter">
      <%= render "show", fighter: @battle.enemy_fighter %>
    </div>
  </div>
  <div class="infos">
    <p>Press "G" to attack !</p>
  </div>
</div>
